<html>
<head>
    <title>FCCH GDrive Chown</title>
    <script src="static/app.js"></script>
</head>
<body>
    <div>
        {% if not logged_in %}
        <button onClick="onClickLogin()" style="background-color: lightgreen">Login</button>
        {% else %}
        <button onClick="onClickLogout()">Logout</button> |
        <button onClick="onClickGetDriveFileList()" style="background-color: lightgreen">Get Drive File List</button> |
        <button onClick="onClickShowDriveFileList()">Show Drive File List</button> |
        <button onClick="onClickCalcFilesToChangeOwnership()" style="background-color: lightgreen">Calculate Files To Change Ownership</button> |
        <button onClick="onClickShowFilesToChangeOwnership()">Show Files To Change Ownership</button> |
        <button onClick="onClickChangeOwnership()" style="background-color: lightgreen">Change Ownership</button>
        {% endif %}
    </div>
    <hr>
    <div id="results">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% else %}
                Welcome.
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
